<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRManagementSystem.PL</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HRManagementSystem.PL.styles.css" asp-append-version="true" />
</head>
<body class="bg-gray-100 text-gray-900">
    <header class="bg-white shadow mb-4">
        <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
            <a class="text-xl font-bold text-blue-600" asp-area="" asp-controller="Employees" asp-action="AllEmployee">
                HRManagementSystem
            </a>
            <div class="space-x-4">
                <a class="text-gray-700 hover:text-blue-600" asp-area="" asp-controller="Employees" asp-action="AllEmployee">Employee</a>
                <a class="text-gray-700 hover:text-blue-600" asp-area="" asp-controller="Employees" asp-action="AddEmployee">Add</a>
            </div>
        </nav>
    </header>

    <main class="container mx-auto px-4 py-6">
        @RenderBody()
    </main>

   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
